# Root Gradle & Build
.gradle/
build/
local.properties
captures/
*.apk
*.aar
*.jar
*.zip

# Android Module
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/.kotlin/

# Backend Module
backend/node_modules/
backend/dist/
backend/.env
backend/build/

# OS/IDE
.DS_Store
.idea/
*.iml
.vscode/

# Project specifics
cookies.txt
translate.py
test.json
test_parse.kts
