# Root Gradle & Build
.gradle/
build/
local.properties
captures/
*.apk
*.aar
*.jar
*.zip



# Backend Module
backend/node_modules/
backend/dist/
backend/.env
backend/build/

# OS/IDE
.DS_Store
.idea/
*.iml
.vscode/
GEMINI.md


# Backend secrets
backend/.env
